@model BeFit.Models.ExConn

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj wpis</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="ConnId" />

    <div class="form-group">
        <label asp-for="TypeId"></label>
        <select asp-for="TypeId" class="form-control"
                asp-items="@(ViewData["TypeId"] as SelectList)"></select>
    </div>

    <div class="form-group">
        <label asp-for="SessionId"></label>
        <select asp-for="SessionId" class="form-control"
                asp-items="@(ViewData["SessionId"] as SelectList)"></select>
    </div>

    <div class="form-group">
        <label asp-for="Sets"></label>
        <input asp-for="Sets" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="RepsPerSet"></label>
        <input asp-for="RepsPerSet" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Load"></label>
        <input asp-for="Load" class="form-control" />
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
</form>

<div><a asp-action="Index">Powrót</a></div>
