@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center mt-5">
    <h1 class="display-4 mb-4">Witaj w aplikacji BeFit</h1>

    <p class="lead" style="font-size:1.35rem; font-weight:500;">
        Każdy trening przybliża Cię do celu. Każda sesja to krok naprzód.
        Rejestruj swoje ćwiczenia, analizuj postępy i buduj lepszą wersję siebie.
    </p>

    <p style="font-size:1.2rem;">
        Użyj menu na górze strony, aby przejść do swoich treningów, statystyk lub typów ćwiczeń.
    </p>
</div>
